{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["last 10 versions", "ie >= 9"] },
        "useBuiltIns": "entry"
       }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
 }